<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hello World - SUPINFO 4KUB Lab</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/cosmo/bootstrap.min.css" rel="stylesheet" integrity="sha384-uhut8PejFZO8994oEgm/ZfAv0mW1/b83nczZzSwElbeILxwkN491YQXsCFTE6+nx" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/solid.js" integrity="sha384-6FXzJ8R8IC4v/SKPI8oOcRrUkJU8uvFK6YJ4eDY11bJQz4lRw5/wGthflEOX8hjL" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/regular.js" integrity="sha384-Gxfqh68NuE4s0o2renzieYkDYVbdJynynsdrB7UG9yEvgpS9TVM+c4bknWfQXUBg" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/fontawesome.js" integrity="sha384-xl26xwG2NVtJDw2/96Lmg09++ZjrXPc89j0j7JHjLOdSwHDHPHiucUjfllW0Ywrq" crossorigin="anonymous"></script>

    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            font-family: 'Roboto', sans-serif;
        }

        body h1, body h2 {
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1>SUPINFO 4KUB Lab</h1>
        <h2>Hey, I'm {{ hostname }}.</h2>
        {% if redisClient.ready %}
            <div class="alert alert-success">
                <strong>I'm connected</strong> to my perfect Redis server. 🚀
            </div>
            <ul>
                <li>Redis server version is <strong>{{ redisClient.server_info.redis_version }}</strong></li>
                <li>OS is <strong>{{ redisClient.server_info.os }}</strong></li>
            </ul>
        {% else %}
            <div class="alert alert-danger">
                Oops, <strong>impossible to connect</strong> to Redis... 🔥
            </div>
        {% endif %}
        <p>
            Application Admin password is <strong class="text-primary">{{ adminPassword }}</strong>.
            <small class="text-muted">Oops, I've displayed it. ‍🤭</small>
        </p>
    </div>
</body>
</html>
